$menu-item-height:40px !default;
$menu-item-icon-horizontal-spacing: 12px 24px !default;
$menu-border-color:transparent !default;
$menu-item-icon-size:36px !default;
$menu-item-color:#ECF0F1 !default;
$menu-item-font-size:14px !default;
$menu-item-font-weight:bold !default;
$menu-background-color:#A0A8D5 !default;
$menu-text-color:#1a237e !default;